<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header-include">
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<!-- Page Content-->
<div class="container-fluid p-1">
    <!-- import header -->
    <div th:replace="public/cv/guro/cv-header :: cv-header-section"></div>
    <!-- import projects-->
    <div th:replace="public/cv/guro/projects :: projects-section"></div>
</div>
</body>
</html>