<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>

<section th:fragment="cv-header-section" id="cv-header" class="resume-section bg-primary">
    <div class="resume-section-content p-1">
        <div align="right">
            <h6>opprettet: 22.01.2024</h6>
        </div>
        <div class="d-flex flex-column flex-md-row">
            <div align="center" class="flex-grow-1">
                <h1 class="mb-1">Gunnar Rønneberg</h1>
                <h6 class="mb-2">Stavangergata 35, 0467 Oslo | +47 45465500 | gunnar_ronneberg@yahoo.no | født: 11.04.66</h6>
            </div>
        </div>
    </div>
</section>
</body>
</html>
