<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- for local test only
    <link rel="stylesheet" href="https://unpkg.com/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link href="/static/css/timeline-4-custom.css" media="screen" rel="stylesheet"
          th:href="@{/static/css/timeline-4-custom.css}"/>
     -->
</head>
<body>

<section th:fragment="cv-education-section" id="education" class="bsb-timeline-4 p-1">
    <h2 class="mb-3">Utdanning</h2>
    <hr class="bg-primary"/>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-10 col-md-12 col-xl-10 col-xxl-9">
                <ul class="timeline">
                    <!-- UIO, IFI-->
                    <li class="timeline-item right">
                        <div class="timeline-body">
                            <div class="timeline-meta">
                                <div class="d-inline-flex flex-column px-2 py-1 text-success-emphasis bg-success-subtle border border-success-subtle rounded-2 text-center timeline-meta-fixed-width">
                                    <span class="fw-bold">1995</span>
                                    <span>August</span>
                                </div>
                            </div>
                            <div class="timeline-content timeline-indicator ">
                                <div class="card border-0 shadow">
                                    <div class="card-header p-xl-2 bg-transparent no-border">
                                        <small class="text-muted">Mai 1999</small>
                                    </div>
                                    <div class="card-body p-xl-2">
                                        <h5 class="card-title mb-2">Cand. Scient</h5>
                                        <h6 class="card-subtitle text-secondary mb-2">Universitetet i Oslo</h6>
                                        <h6 class="card-subtitle text-secondary mb-2">Institutt for informatikk</h6>
                                        <div class="card-text m-0">Hovedfag gikk ut på å utbedre flyt kontroll
                                            protokollen i ett SCI-nettverk. Utgitt to
                                            publikasjoner basert på resultatet , ref <a href=""></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <!-- Høgskolen i Sør-Trøndelag -->
                    <li class="timeline-item left">
                        <div class="timeline-body">
                            <div class="timeline-meta">
                                <div class="d-inline-flex flex-column px-2 py-1 text-success-emphasis bg-success-subtle border border-success-subtle rounded-2 text-center timeline-meta-fixed-width">
                                    <span class="fw-bold">1993</span>
                                    <span>August</span>
                                </div>
                            </div>
                            <div class="timeline-content timeline-indicator ">
                                <div class="card border-0 shadow">
                                    <div class="card-header p-xl-2 text-end bg-transparent no-border">
                                        <small class="text-muted">Juni 1995</small>
                                    </div>
                                    <div class="card-body p-xl-2">
                                        <h5 class="card-title mb-2">Ingeniør</h5>
                                        <h6 class="card-subtitle text-secondary mb-2">Høgskolen i Sør-Trøndelag</h6>
                                        <h6 class="card-subtitle text-secondary mb-2">Elektro</h6>
                                        <div class="card-text m-0">Egendefinert hovedfagsoppgave som var teoretisk
                                            modell for en portabel hastighetsmåler basert på diode-laser teknologi og doppler effekt. Fant ut
                                            at det ikke var realiserbart med ønsket nøyaktighet.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <!-- Trondheim Tekniske Fagskole -->
                    <li class="timeline-item right">
                        <div class="timeline-body">
                            <div class="timeline-meta">
                                <div class="d-inline-flex flex-column px-2 py-1 text-success-emphasis bg-success-subtle border border-success-subtle rounded-2 text-center timeline-meta-fixed-width">
                                    <span class="fw-bold">1991</span>
                                    <span>August</span>
                                </div>
                            </div>
                            <div class="timeline-content timeline-indicator ">
                                <div class="card border-0 shadow">
                                    <div class="card-header p-xl-2 bg-transparent no-border">
                                        <small class="text-muted">Juni 1993</small>
                                    </div>
                                    <div class="card-body p-xl-2">
                                        <h5 class="card-title mb-2">Fagskole Tekniker</h5>
                                        <h6 class="card-subtitle text-secondary mb-2">Trondheim Tekniske Fagskole</h6>
                                        <h6 class="card-subtitle text-secondary mb-2">Elektronikk</h6>
                                        <div class="card-text m-0">Startet på videreutdanning etter endt fagprøve som
                                            telemontør i Telenor AS.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul> <!-- end timeline -->
            </div> <!-- end grid -->
        </div> <!-- end row justify -->
    </div> <!-- end container -->
</section>
</body>
</html>
