<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header-include"></head>
<link rel="stylesheet" href="https://unpkg.com/bootstrap@5.3.2/dist/css/bootstrap.min.css">
<link href="/static/css/timeline-7.css" media="screen" rel="stylesheet" th:href="@{/static/css/timeline-7.css}"/>
<style>
    .div-fixed-size {
        width: 200px;
    }
</style>
<body>
<div th:replace="fragments/header :: header"></div>
<!-- Page Content-->
<div class="container-fluid p-1">
    <!-- Timeline 7 - Bootstrap Brain Component -->
    <section class="bsb-timeline-7 bg-light py-3 py-md-5 py-xl-8">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-10 col-md-12 col-xl-10 col-xxl-9">
                    <ul class="timeline">
                        <li class="timeline-item">
                            <div class="timeline-body">
                                <div class="timeline-meta">
                                    <div class="d-inline-flex flex-column px-2 py-1 text-success-emphasis bg-success-subtle border border-success-subtle rounded-2 text-center div-fixed-size">
                                        <span class="fw-bold">1995</span>
                                        <span>August</span>
                                    </div>
                                </div>
                                <div class="timeline-content timeline-indicator">
                                    <div class="card border-0 shadow">
                                        <div class="card-body p-xl-4">
                                            <h5 class="card-title mb-2">Universitetet i Oslo Institutt for informatikk</h5>
                                            <h6 class="card-subtitle text-secondary mb-2">Cand. Scient</h6>
                                            <p class="card-text m-0">
                                                Hovedfag gikk ut på å utbedre flyt kontroll protokollen i ett SCI-nettverk. Utgitt to publikasjoner basert på resultatet.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-item">
                            <div class="timeline-body">
                                <div class="timeline-meta">
                                    <div class="d-inline-flex flex-column px-2 py-1 text-success-emphasis bg-success-subtle border border-success-subtle rounded-2 text-center div-fixed-size">
                                        <span class="fw-bold">1993</span>
                                        <span>August</span>
                                    </div>
                                </div>
                                <div class="timeline-content timeline-indicator">
                                    <div class="card border-0 shadow">
                                        <div class="card-body p-xl-4">
                                            <h5 class="card-title mb-2">Høgskolen i Sør-Trøndelag, Elektro</h5>
                                            <h6 class="card-subtitle text-secondary mb-2">Ingeniør</h6>
                                            <p class="card-text m-0">
                                                Egendefinert hovedfagsoppgave som var teoretisk modell for en portabel hastighetsmåler basert på diode-laser teknologi og doppler effekt. Fant ut at det ikke var realiserbart med ønsket nøyaktighet
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-item">
                            <div class="timeline-body">
                                <div class="timeline-meta">
                                    <div class="d-inline-flex flex-column px-2 py-1 text-success-emphasis bg-success-subtle border border-success-subtle rounded-2 text-center div-fixed-size">
                                        <span class="fw-bold">1991</span>
                                        <span>August</span>
                                    </div>
                                </div>
                                <div class="timeline-content timeline-indicator">
                                    <div class="card border-0 shadow">
                                        <div class="card-body p-xl-4">
                                            <h5 class="card-title mb-2">Trondheim Tekniske Fagskole, Elektronikk</h5>
                                            <h6 class="card-subtitle text-secondary mb-2">Fagskole Tekniker</h6>
                                            <p class="card-text m-0">
                                                Startet på videreutdanning etter endt fagprøve som Telemontør i Televerket.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</div>
</body>
</html>
