<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header-include">
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<!-- Page Content-->
<div class="container-fluid p-1">
    <!-- import header -->
    <div th:replace="public/cv/cv-header :: cv-header-section"></div>
    <!-- import skills-->
    <div th:replace="public/cv/skills :: cv-skills-section"></div>
    <!-- import experience-->
    <div th:replace="public/cv/experience :: cv-experience-section"></div>
    <!-- import education-->
    <div th:replace="public/cv/education :: cv-education-section"></div>
</div>
</body>
</html>
