<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://unpkg.com/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link href="/static/css/timeline-4-custom.css" media="screen" rel="stylesheet" th:href="@{/static/css/timeline-4-custom.css}"/>
</head>
<body>
    <!-- Timeline 7 - Bootstrap Brain Component -->
    <section th:fragment="projects-section" id="projects" class="bsb-timeline-4 p-1">
        <div class="resume-section-content">
            <h2 class="mb-3">Prosjekter</h2>
            <hr class="bg-primary"/>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-10 col-md-12 col-xl-10 col-xxl-9">
                        <ul class="timeline">
                            <li class="timeline-item left">
                                <div class="timeline-body">
                                    <div class="timeline-meta">
                                        <div class="d-inline-flex flex-column px-2 py-1 text-success-emphasis bg-success-subtle border border-success-subtle rounded-2 text-center timeline-meta-fixed-width">
                                            <span class="fw-bold">2023</span>
                                            <span>Mai</span>
                                        </div>
                                    </div>
                                    <div class="timeline-content timeline-indicator">
                                        <div class="card border-0 shadow">
                                            <div class="card-body p-xl-4">
                                                <h4 class="card-title mb-2">HRIS Modernisering</h4>
                                                <h5 class="card-subtitle text-secondary mb-2">Tech lead</h5>
                                                <h6 class="card-subtitle text-secondary mb-2">CatalystOne Solutions AS</h6>
                                                <p class="card-text m-0">
                                                    Prosjekt for dele opp en monolitisk HR web applikasjon til
                                                    en microservic basert arkitektur, basert på Spring Boot rammeverket.
                                                    Bruk av teknologi kan oppgis på forespørsel.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="timeline-item right">
                                <div class="timeline-body">
                                    <div class="timeline-meta">
                                        <div class="d-inline-flex flex-column px-2 py-1 text-success-emphasis bg-success-subtle border border-success-subtle rounded-2 text-center timeline-meta-fixed-width">
                                            <span class="fw-bold">2022</span>
                                            <span>Februar</span>
                                        </div>
                                    </div>
                                    <div class="timeline-content timeline-indicator">
                                        <div class="card border-0 shadow">
                                            <div class="card-body p-xl-4">
                                                <h4 class="card-title mb-2">Oppgradere Efaktura løsningen</h4>
                                                <h5 class="card-subtitle text-secondary mb-2">Senior system utvikler</h5>
                                                <h6 class="card-subtitle text-secondary mb-2">Mastercard Payment Services</h6>
                                                <p class="card-text m-0">
                                                    Prosjekt for å oppgradere delvis monolitisk applikasjons porteføljen til
                                                    å bruke nyere versjon av Java og Spring Boot, etc.
                                                    Bruk av teknologi kan oppgis på forespørsel.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="timeline-item left">
                                <div class="timeline-body">
                                    <div class="timeline-meta">
                                        <div class="d-inline-flex flex-column px-2 py-1 text-success-emphasis bg-success-subtle border border-success-subtle rounded-2 text-center timeline-meta-fixed-width">
                                            <span class="fw-bold">2020</span>
                                            <span>Mai</span>
                                        </div>
                                    </div>
                                    <div class="timeline-content timeline-indicator">
                                        <div class="card border-0 shadow">
                                            <div class="card-body p-xl-4">
                                                <h4 class="card-title mb-2">Prefix</h4>
                                                <h5 class="card-subtitle text-secondary mb-2">System arkitekt</h5>
                                                <h6 class="card-subtitle text-secondary mb-2">Telenor AS</h6>
                                                <p class="card-text m-0">Prosjekt for å etablere ny infrastruktur for TV tjenesteplattformen.</p>
                                                <ul>
                                                    <li>Arkitekt bak infrastruktur og tjenester for microservice plattformen</li>
                                                    <li>Arkitekt og utvikler for spring booot basert microservice mal</li>
                                                    <li>Opprette CI/CD pipeline for microservices</li>
                                                    <li>Installerer og konfigurere monitorering, Prometheus og Grafana</li>
                                                    <li>Installerer og konfigurere Quality Gate, SonarQube</li>
                                                    <li>Installerer og konfigurere Message Broker, RabbitMq</li>
                                                    <li>Installerer og konfigurere API gateway for å sikre våre REST tjenester, Apache</li>
                                                    <li>Arkitektur, dokumentasjon av system og tjenster på confluence</li>
                                                    <li>API dokumentasjon ved bruk av swagger</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="timeline-item right">
                                <div class="timeline-body">
                                    <div class="timeline-meta">
                                        <div class="d-inline-flex flex-column px-2 py-1 text-success-emphasis bg-success-subtle border border-success-subtle rounded-2 text-center timeline-meta-fixed-width">
                                            <span class="fw-bold">2022 Februar</span>
                                            <span class="fw-bold">2018 Januar</span>
                                        </div>
                                    </div>
                                    <div class="timeline-content timeline-indicator">
                                        <div class="card border-0 shadow">
                                            <div class="card-body p-xl-4">
                                                <h4 class="card-title mb-2">Exit Oracle</h4>
                                                <h5 class="card-subtitle text-secondary mb-2">System arkitekt</h5>
                                                <h6 class="card-subtitle text-secondary mb-2">Telenor AS</h6>
                                                <p class="card-text m-0">
                                                    Prosjekt for å fase ut Oracle plattform, basert på Oracle Service
                                                    Bus, SOA Suite og Oracle database.
                                                </p>
                                                <ul>
                                                    <li>Portere eksisterende SOAP tjenester over til ny meldingsbasert microservice arkitektur</li>
                                                    <li>Utvikling av mal for felles Spring Boot microservice komponent</li>
                                                    <li>Portering av SOAP tjenester til REST tjenester</li>
                                                    <li>Innføring av Message Broker, RabbitMq</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="timeline-item left">
                                <div class="timeline-body">
                                    <div class="timeline-meta">
                                        <div class="d-inline-flex flex-column px-2 py-1 text-success-emphasis bg-success-subtle border border-success-subtle rounded-2 text-center timeline-meta-fixed-width">
                                            <span class="fw-bold">2020 Mai</span>
                                            <span class="fw-bold">2019 November</span>
                                        </div>
                                    </div>
                                    <div class="timeline-content timeline-indicator">
                                        <div class="card border-0 shadow">
                                            <div class="card-body p-xl-4">
                                                <h4 class="card-title mb-2">Tv And Diagnostic Tool</h4>
                                                <h5 class="card-subtitle text-secondary mb-2">System arkitekt</h5>
                                                <h6 class="card-subtitle text-secondary mb-2">Telenor AS</h6>
                                                <p class="card-text m-0">
                                                    GUI til kundeservice for å kunne diagnostisere en kundes TV produkter
                                                </p>
                                                <ul>
                                                    <li>REST tjenester for TV og Diagnose verktøy</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="timeline-item right">
                                <div class="timeline-body">
                                    <div class="timeline-meta">
                                        <div class="d-inline-flex flex-column px-2 py-1 text-success-emphasis bg-success-subtle border border-success-subtle rounded-2 text-center timeline-meta-fixed-width">
                                            <span class="fw-bold">September 2020</span>
                                            <span class="fw-bold">August 2018</span>
                                        </div>
                                    </div>
                                    <div class="timeline-content timeline-indicator">
                                        <div class="card border-0 shadow">
                                            <div class="card-body p-xl-4">
                                                <h4 class="card-title mb-2">NextGenCPE</h4>
                                                <h5 class="card-subtitle text-secondary mb-2">System arkitekt</h5>
                                                <h6 class="card-subtitle text-secondary mb-2">Telenor AS</h6>
                                                <p class="card-text m-0">
                                                    Stort prosjekt (> 100 FTE på det meste) for å bytte til ny TV plattform. Samt utgivelse av ny TV dekoder.
                                                    Dette prosjektet berørte alle våre TV kunder.
                                                </p>
                                                <ul>
                                                    <li>Arkitekt bak ny tjensteplattform for TV tjenester, basert på Spring Boot, første steg på vei mot ny microservice plattform.</li>
                                                    <li>Utviklet integrasjons lag mot ny TV plattform for provisjonering av TV utstyr og tjenester</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="timeline-item left">
                                <div class="timeline-body">
                                    <div class="timeline-meta">
                                        <div class="d-inline-flex flex-column px-2 py-1 text-success-emphasis bg-success-subtle border border-success-subtle rounded-2 text-center timeline-meta-fixed-width">
                                            <span class="fw-bold">Januar 2018</span>
                                            <span class="fw-bold">Januar 2017 - </span>
                                        </div>
                                    </div>
                                    <div class="timeline-content timeline-indicator">
                                        <div class="card border-0 shadow">
                                            <div class="card-body p-xl-4">
                                                <h4 class="card-title mb-2">Star2</h4>
                                                <h5 class="card-subtitle text-secondary mb-2">System arkitekt</h5>
                                                <h6 class="card-subtitle text-secondary mb-2">Telenor AS</h6>
                                                <p class="card-text m-0">
                                                    Gigantisk Telenor prosjekt for å hente ut synergier mellom ulike IT avdelinger og områder
                                                </p>
                                                <ul>
                                                    <li>Rådgivende rolle for TV plattformen</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="timeline-item right">
                                <div class="timeline-body">
                                    <div class="timeline-meta">
                                        <div class="d-inline-flex flex-column px-2 py-1 text-success-emphasis bg-success-subtle border border-success-subtle rounded-2 text-center timeline-meta-fixed-width">
                                            <span class="fw-bold">Mai 2018</span>
                                            <span class="fw-bold">August 2017</span>
                                        </div>
                                    </div>
                                    <div class="timeline-content timeline-indicator">
                                        <div class="card border-0 shadow">
                                            <div class="card-body p-xl-4">
                                                <h4 class="card-title mb-2">GDPR Anonymisering av personopplysninger</h4>
                                                <h5 class="card-subtitle text-secondary mb-2">System arkitekt</h5>
                                                <h6 class="card-subtitle text-secondary mb-2">Telenor AS</h6>
                                                <p class="card-text m-0">
                                                    Analysere og implementere støtte for å anonymisere/slette sensetive kundedata i database og
                                                    logger.
                                                </p>
                                                <ul>
                                                    <li>REST tjeneste for å lese terminerte kunder</li>
                                                    <li>Slette/anonymisere kundedata i logger</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="timeline-item left">
                                <div class="timeline-body">
                                    <div class="timeline-meta">
                                        <div class="d-inline-flex flex-column px-2 py-1 text-success-emphasis bg-success-subtle border border-success-subtle rounded-2 text-center timeline-meta-fixed-width">
                                            <span class="fw-bold">Mai 2017</span>
                                            <span class="fw-bold">November 2017</span>
                                        </div>
                                    </div>
                                    <div class="timeline-content timeline-indicator">
                                        <div class="card border-0 shadow">
                                            <div class="card-body p-xl-4">
                                                <h4 class="card-title mb-2">TV provisjonering linje prosjekt</h4>
                                                <h5 class="card-subtitle text-secondary mb-2">System arkitekt</h5>
                                                <h6 class="card-subtitle text-secondary mb-2">Telenor AS</h6>
                                                <p class="card-text m-0">
                                                    Forbedre integrasjonen av TV provisjonering av kundedata til TV plattformen
                                                </p>
                                                <ul>
                                                    <li>REST tjeneste for å lese terminerte kunder</li>
                                                    <li>Slette/anonymisere kundedata i logger</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="timeline-item right">
                                <div class="timeline-body">
                                    <div class="timeline-meta">
                                        <div class="d-inline-flex flex-column px-2 py-1 text-success-emphasis bg-success-subtle border border-success-subtle rounded-2 text-center timeline-meta-fixed-width">
                                            <span class="fw-bold">Mai 2015</span>
                                            <span class="fw-bold">November 2014</span>
                                        </div>
                                    </div>
                                    <div class="timeline-content timeline-indicator">
                                        <div class="card border-0 shadow">
                                            <div class="card-body p-xl-4">
                                                <h4 class="card-title mb-2">OSB linje prosjekt</h4>
                                                <h5 class="card-subtitle text-secondary mb-2">System arkitekt</h5>
                                                <h6 class="card-subtitle text-secondary mb-2">Telenor AS</h6>
                                                <p class="card-text m-0">
                                                    Sette opp CI/CD pripeline for OSB og SOA Suite
                                                </p>
                                                <ul>
                                                    <li>Opprettet CI/CD pipeline, bruk av maven, bamboo, bash og python script</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="timeline-item left">
                                <div class="timeline-body">
                                    <div class="timeline-meta">
                                        <div class="d-inline-flex flex-column px-2 py-1 text-success-emphasis bg-success-subtle border border-success-subtle rounded-2 text-center timeline-meta-fixed-width">
                                            <span class="fw-bold">Mai 2011</span>
                                            <span class="fw-bold">November 2008</span>
                                        </div>
                                    </div>
                                    <div class="timeline-content timeline-indicator">
                                        <div class="card border-0 shadow">
                                            <div class="card-body p-xl-4">
                                                <h4 class="card-title mb-2">Nettbasert Bestillingsløsning</h4>
                                                <h5 class="card-subtitle text-secondary mb-2">Senior systemutvikler</h5>
                                                <h6 class="card-subtitle text-secondary mb-2">TeliaSonera Norge AS</h6>
                                                <p class="card-text m-0">
                                                    Ny nettbasert bestillingsløsning for mobil og bredbåndsprodukter.
                                                </p>
                                                <ul>
                                                    <li>Ariktektur/Utvikling av backend lag ved hjelp av Spring boot og Oracle database.</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
