<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<body>
<!-- Page Content-->
<section th:fragment="cv-skills-section" id="skills" class="resume-section">
    <div class="resume-section-content">
        <h2 class="mb-3">Kompetanse</h2>
        <hr class="bg-primary"/>
        <ul class="mb-3 text-list">
            <li>Roller/Ansvar
                <ul>
                    <li>Engasjert som Tech lead og system utvikler</li>
                    <li>System Arkitekt for plattfom og applikasjoner</li>
                    <li>System ansvarlig for plattform, applikasjoner</li>
                    <li>AM,AO for applikasjoner</li>
                    <li>Java Chapter lead </li>
                </ul>
            </li>
            <li>2 års erfaring som selvstendig konsulent. Engasjert som system utvikler og tech lead hvor begge oppdrage har vært modernisering av monolith og over til en microservice basert arkitektur. </li>
            <ul>
                <li>Jobbet med applikasjons arkitektur og design av databsemodell for HR løsning</li>
                <li>Test og produksjonsmiljø i Azure og ReadHat servere</li>
                <li>Jobbet med Java og spring boot rammeverket.</li>
                <li>Brukt Oracle og SQL server database</li>
                <li>Brukt radle og maven</li>
                <li>Jobbet med EAV database model</li>
                <li>Brukt Gitlab og Github</li>
                <li>Implementert REST tjenenster</li>
            </ul>
            <li>3 års erfaring som arkitekt og utvikler i Telenor med å bygge opp ny microservice plattform for TV
                tjenester. Plattformen betjener blant annet Telenor Mine sider med hundretusenvis av brukere.
                <ul>
                    <li>Laget applikasjonsmal for microservice, basert på <span class="text-brand">Spring Boot</span> rammeverket, ved hjelp av <span class="text-brand">Maven</span> archetype.
                    </li>
                    <li>Laget retningslinjer og best praksis for utvikling av <span class="text-brand">Spring Boot</span> baserte microservicer og REST tjenester.
                    </li>
                    <li>Installert monitorering av tjenester og platform ved hjelp av <span class="text-brand">Prometheus</span>,
                        <span class="text-brand">Alertmanager</span> og <span class="text-brand">Grafana</span>.
                        Hvor alarmer sendes til en <span class="text-brand">Slack</span> gruppe.
                    </li>
                    <li>Installert og konfigurert <span class="text-brand">RabbitMQ</span>, som blant annet brukes
                        til asynkron kommunikasjon mellom microservicene.
                    </li>
                    <li>Installert og konfiguret <span class="text-brand">Apache</span> som API gateway, hvor det
                        brukes 2-way-tls mot tjenestene. Laget java modul for å forenkle httpd konfigurering, samt
                        full CI/CD pipeline for deploy av httpd konfigurasjon.
                    </li>
                    <li>Implementert <span class="text-brand">Swagger</span> for API dokumentasjon.</li>
                    <li>Satt opp CD/CI pipeline i <span class="text-brand">Bamboo</span>, hvor <span
                            class="text-brand">Maven</span>, <span class="text-brand">GitLab</span> og <span
                            class="text-brand">Sonarqube</span> brukes som hjelpe verktøy. Hvor microservicene
                        deployes til <span class="text-brand">RedHat</span> servere som selvstendige applikasjoner.
                    </li>
                    <li>Opprettet system, applikasjon og tjenestedokumentasjon på <span class="text-brand">Confluence</span>.
                        Hvor <span class="text-brand">Gliffy</span> er brukt til å tegne arkitektur og
                        sekvensdiagrammer.
                    </li>
                    <li>Tilrettelagt for å kjøre <span class="text-brand">Spring</span> boot applikasjonene i <span class="text-brand">Docker</span> container ved bruk av <span class="text-brand">Google jib</span>.
                    </li>
                </ul>
            </li>
            <li>7 år erfaring som systemarkitekt for Telenors mellomvareplattform for TV tjenester basert på <span
                    class="text-brand">Oracle Service Bus</span> og <span class="text-brand">Oracle Soa Suite</span>.
                Hvor vi har brukt SOAP, REST, JMS, FTP, SMTP, JDBC.
            </li>
            <li>Lang erfaring med bruk av <span class="text-brand">Splunk</span>, installert <span
                    class="text-brand">Splunk</span> forwardere og opprettet dashboard, alarmer og rapporter.
            </li>
            <li>Arbeidet med sikkerhet og integasjonstesting av REST og SOAP tjenester ved bruk av <span
                    class="text-brand">SoapUI</span>, <span class="text-brand">Junit</span> og sikkerhets script.
            </li>
            <li>Opplæring og guiding av både ansatte og konsulenter på Telenors TV plattform</li>
            <li>Systemarkitektur, applikasjonsarkitektur og design har vært mine oppgaver, samt vedlikehold,
                monitorering og drift av applikasjoner har vært mitt ansvar.
            </li>
            <li>Har stort sett jobbet Agilt, hvor testdrevet utvikling har vært i fokus. Hvor jeg også har har hatt
                en ledende rolle hva oppgaver og utvikling angår
            </li>
            <li>Både lang erfaring og god kjennskap med bruk av følgende teknologier:
                <dl class="mb-3 row">
                    <dt class="col-sm-3 dt-style">Operativsystem</dt>
                    <dd class="col-sm-8 text-gradient">centos, redhat, ubuntu, windows</dd>
                    <dt class="col-sm-3 dt-style">Programmeringsspråk</dt>
                    <dd class="col-sm-8 text-gradient">java, bash script, android sdk, python, javascript</dd>
                    <dt class="col-sm-3 dt-style">Rammeverk</dt>
                    <dd class="col-sm-8 text-gradient">spring framework, apache camel, apache cxf, junit, mockito, log4j2, logback, thymeleaf,
                        bootstrap, hibernate, html, css, jsf, jsp
                    </dd>
                    <dt class="col-sm-3 dt-style">Utviklingsverktøy</dt>
                    <dd class="col-sm-8 text-gradient">intellij, intellij, maven, gradle, git, soapui, sqlDeveloper, swagger,
                        android studio, sql server management studio
                    </dd>
                    <dt class="col-sm-3 dt-style">Sikkerhet</dt>
                    <dd class="col-sm-8 text-gradient">2-veis-tls, sso, 2-faktor-authentisering</dd>
                    <dt class="col-sm-3 dt-style">Database</dt>
                    <dd class="col-sm-8 text-gradient">oracle, sql server, mysql, mariadb, hsql, h2</dd>
                    <dt class="col-sm-3 dt-style">Støttesystemer</dt>
                    <dd class="col-sm-8 text-gradient">bamboo, jenkins, gitlab, bitbucket, gitlab, github ci/cd, jira, confluence, splunk, nexus, prometheus,
                        sonarqube, grafana, snyk, backstage
                    </dd>
                    <dt class="col-sm-3 dt-style">Meldingskø/bus</dt>
                    <dd class="col-sm-8 text-gradient">oracle service bus, jms, rabbitmq, activemq</dd>
                    <dt class="col-sm-3 dt-style">Applikasjons container</dt>
                    <dd class="col-sm-8 text-gradient">tomcat, jetty, netty, undertow</dd>
                    <dt class="col-sm-3 dt-style">Applikasjons servere</dt>
                    <dd class="col-sm-8 text-gradient">weblogic, apache</dd>
                    <dt class="col-sm-3 dt-style">Skyløsninger</dt>
                    <dd class="col-sm-8 text-gradient">openshift, google cloud, Azure</dd>
                </dl>
            </li>
        </ul>
    </div>
</section>
</body>
</html>
