<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
    <Properties>
        <Property name="LOG_PATTERN">
            [%d{yyyy-MM-dd HH:mm:ss.SSS}] [%t] [%-5level] [%logger{36}] %m%n
        </Property>
    </Properties>

    <Appenders>
        <Console name="consoleAppender" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>

        <!-- for azure, maxStringLength - limit the length of the stack trace -->
        <!--
        <console name="consoleAppender" target="SYSTEM_OUT">
            <JsonTemplateLayout eventTemplateUri="classpath:jsonTemplate.json" maxStringLength="14000" />
        </console>
        -->
        <RollingFile name="debugFileAppender" fileName="logs/gunnarro-web.log" filePattern="logs/gunnarro-web.log.%i">
            <PatternLayout>
                <Pattern>${LOG_PATTERN}</Pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="10MB"/>
            </Policies>
            <DefaultRolloverStrategy max="5"/>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Logger name="com.azure.core" level="ERROR" additivity="true">
            <appender-ref ref="consoleAppender" />
        </Logger>

        <Logger name="org.springframework" level="DEBUG" additivity="false">
            <AppenderRef ref="consoleAppender"/>
            <AppenderRef ref="debugFileAppender"/>
        </Logger>

        <Logger name="org.springframework.security" level="ERROR" additivity="false">
            <AppenderRef ref="consoleAppender"/>
        </Logger>

        <!--  application specific logs will be asynchronous, other root logs is still synchronous -->
        <Logger name="com.gunnarro.web" level="INFO" additivity="false">
            <AppenderRef ref="consoleAppender"/>
            <AppenderRef ref="debugFileAppender"/>
        </Logger>

        <Logger name="com.gunnarro.web.endpoint" level="DEBUG" additivity="false">
            <AppenderRef ref="consoleAppender"/>
        </Logger>

        <Logger name="com.gunnarro.web.service" level="DEBUG" additivity="false">
            <AppenderRef ref="consoleAppender"/>
        </Logger>

        <Logger name="com.gunnarro.web.repository" level="DEBUG" additivity="false">
            <AppenderRef ref="consoleAppender"/>
        </Logger>

        <Logger name="org.springframework.boot.autoconfigure.logging.ConditionEvaluationReportLoggingListener" level="OFF" additivity="false">
            <AppenderRef ref="consoleAppender"/>
        </Logger>

        <Root level="INFO">
            <AppenderRef ref="consoleAppender"/>
        </Root>
    </Loggers>
</Configuration>
