<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head-include :: head-include">
</head>
<body>
<div th:replace="fragments/header-topmenu :: header-topmenu"></div>

<script type="text/javascript">
	$(document).ready(function(){
	      var date_input=$('input[name="logDate"]');
	      var container=$('.bootstrap-iso form').length > 0 ? $('.bootstrap-iso form').parent() : "body";
	      var options={
	        format: 'dd.mm.yyyy',
	        container: container,
	        todayHighlight: true,
	        autoclose: true,
	      };
	      date_input.datepicker(options);
	    })

</script>

<div class="container-fluid">

    <ul class="breadcrumb">
        <li><a th:href="@{/diet/body/measurement/log}">Mine data</a></li>
        <li class="active">Ny Log</li>
    </ul>

    <div class="panel panel-default">
        <div class="panel-heading clearfix">
            <div class="pull-right" th:if="${log.id} != null">
                <div class="pull-right">
                    <a class="btn btn-danger btn-xs" th:href="${/diet/body/measurement/delete/${logEntryId}}"
                       th:text="#{btn.delete}">delete</a>
                </div>
            </div>
            <h3 class="panel-title">
                <span th:if="${log['new']}" th:text="#{editweightlog.title}"></span>
            </h3>
        </div>
        <!-- end panel header -->

        <div class="panel-body">
            <form action="#" method="post" th:action="@{/diet/body/measurement/new}" th:object="${log}">
                <input th:field="*{userId}" type="hidden"/>

                <div th:class="form-group">
                    <label class="control-label" th:text="#{editweightlog.label.logdate}"></label>
                    <div class="controls">
                        <div class="input-group">
                            <input class="date-picker form-control" id="logDate" name="logDate" placeholder="dd.MM.yyyy"
                                   th:field="*{logDate}" type="text"/>
                            <label class="input-group-addon btn" for="logDate">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label th:text="#{editweightlog.label.weight}"></label>
                    <input class="form-control" placeholder="0.0" size="5" th:field="*{weight}" type="text"/>
                    <label class="help-block" th:each="err : ${#fields.errors('weight')}" th:text="${err}"></label>
                </div>

                <div class="form-group">
                    <label th:text="#{editweightlog.label.height}"></label>
                    <input class="form-control" placeholder="0.0" size="5" th:field="*{height}" type="text"/>
                    <label class="help-block" th:each="err : ${#fields.errors('height')}" th:text="${err}"></label>
                </div>

                <div class="form-group">
                    <label th:text="#{editweightlog.label.comment}"></label>
                    <input class="form-control" placeholder="0.0" size="5" th:field="*{comment}" type="text"/>
                    <label class="help-block" th:each="err : ${#fields.errors('comment')}" th:text="${err}"></label>
                </div>
                <p/>
                <button class="btn btn-primary" th:if="${log['new']}" th:text="#{btn.new}" type="submit"></button>
                <a class="btn btn-default" th:href="@{/diet/body/measurement/log}"><span th:text="#{btn.cancel}"></span></a>
            </form>
        </div>
        <!-- end panel body -->

        <div class="panel-footer clearfix">
            <div class="pull-right">
                <a class="btn btn-primary btn-sm" th:href="@{/diet/body/measurement/log}"><span
                        th:text="#{btn.back}"></span></a>
            </div>
        </div>

        <!-- end panel footer -->
    </div>
    <!-- end panel -->
</div>
<!-- end container -->
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>