<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header-include"></head>

<body class="bg">
<div th:replace="fragments/header :: header"></div>

<div class="container">
    <div class="card m-3">
        <h3 class="card-header">Availability</h3>
        <div class="card-body">
            <p class="card-text">Basic conditions, which of course is flexible.</p>
            <p class="card-text text-info">NB! Conditions may differ when hired through an agency broker</p>
            <div>
                <h4 class="card-title">Available</h4>
                <dl class="mb-3 row">
                    <dt class="col-sm-3">Consultant</dt>
                    <dd class="col-sm-8"><a th:href="@{/public/employees}">Gunnar Rønneberg</a></dd>
                    <dt class="col-sm-3">Availability</dt>
                    <dd class="col-sm-8">100% from 01.02.2022</dd>
                    <dt class="col-sm-3">Type of availability</dt>
                    <dd class="col-sm-8">OnSite/home office</dd>
                    <dt class="col-sm-3">Location</dt>
                    <dd class="col-sm-8">Oslo</dd>
                </dl>
            </div>
            <div>
                <h4 class="card-title">Pricing</h4>
                <dl class="mb-3 row">
                    <dt class="col-sm-3">Hourly rate</dt>
                    <dd class="col-sm-8">1000 - 1300 nkr</dd>
                    <dt class="col-sm-3">Termination costs</dt>
                    <dd class="col-sm-8">0</dd>
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>