<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header-include"></head>

<body class="bg">
<div th:replace="fragments/header :: header"></div>

<div class="container">
    <div class="card m-3">
        <h3 class="card-header" h:text="#{page.releasenotes.title}"></h3>
        <div class="card-body">
        <div>
                <h5 class="card-title"><a href="https://github.com/gunnarro/gunnarro-web">2021-12-19 v1.6.1</a></h5>
                <ul>
                    <li>log4j2 fix</li>
                    <li>minor improvements</li>
                    <li>cv updated</li>
                </ul>

                <h5 class="card-title"><a href="https://github.com/gunnarro/gunnarro-web">2021-11-05 v1.6.0</a></h5>
                <ul>
                    <li>Prepared for Azure</li>
                </ul>

                <h5 class="card-title"><a href="https://github.com/gunnarro/gunnarro-web">2018-04-28 v1.5.0</a></h5>
                <ul>
                    <li>Paging for event logs</li>
                    <li>File upload</li>
                    <li>Profile</li>
                </ul>

                <h5 class="card-title"><a href="https://github.com/gunnarro/gunnarro-web">2018-02-23 v1.4.0</a></h5>
                <ul>
                    <li>Springframework 5.0</li>
                </ul>

                <h5 class="card-title"><a href="https://github.com/gunnarro/gunnarro-web">2015-01-01 v1.0.0</a></h5>
                <ul>
                    <li>Initial release</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>