<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div th:fragment="footer">
    <div class="float-end">
        <footer class="container">
            <div>
                <small>
                    <a th:href="@{/releasenotes}" >
                        <span class="text-muted" th:inline="text">gunnarro:as v1.6.0 </span>
                    </a>
                    <span class="text-muted"
                          th:inline="text"> 2021.11.05 22:00:00 GMT</span>
                </small>
            </div>
            <div>
                <small><label class="text-muted">Powered by gunnarro:as</label></small>
            </div>
        </footer>
    </div>
</div>
</body>
</html>