<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div th:fragment="footer">
    <div class="float-end">
        <footer class="container">
            <div>
                <small class="text-white" style="font-size: .7em;">
                    <a class="text-white" th:href="@{/releasenotes}" >
                        <span th:inline="text">Release v1.6.1 </span>
                    </a>
                    <span class="text-white"
                          th:inline="text"> 2021.12.26 22:00:00 GMT</span>
                </small>
            </div>
            <div>
                <small class="text-white" style="font-size: .7em;" >Powered by gunnarro:as</small>
            </div>
        </footer>
    </div>
</div>
</body>
</html>