<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div th:fragment="footer">
    <div class="float-end">
        <footer class="container">
            <div>
                <small class="text-white" style="font-size: .7em;">
                    <a class="text-white" th:href="@{/public/releasenotes}"
                        th:text="${@environment.getProperty('project.version')}">
                    </a>
                    <span class="text-white"
                          th:text="${@environment.getProperty('application.build.time')}"></span>
                </small>
            </div>
            <div>
                <small class="text-white" style="font-size: .7em;" th:text="#{lbl.footer.poweredby}"></small>
            </div>
        </footer>
    </div>
</div>
</body>
</html>