<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="header-css">
        <title>gunnarro:as</title>
        <link href="webjars/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="../../css/gunnarro.css" rel="stylesheet" th:href="@{/css/gunnarro.css}">
        <link href="../../css/background-img.css" rel="stylesheet" th:href="@{/css/background-img.css}">
    </head>
    <body>
        <div th:fragment="header">
            <nav class="navbar navbar-expand-lg navbar-custom">
                <a class="navbar-brand" th:href="@{/public}">
                    <img th:src="@{/images/gunnarro-as-40.png}" height="40" class="d-inline-block align-top" alt="" src="">
                </a>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav">
                        <a class="nav-item nav-link" th:href="@{/about}">About</a>
                    </div>
                </div>
                <div class="navbar-nav ml-auto">
                    <a href="@{/login}" class="nav-item nav-link">Login</a>
                </div>
            </nav>
        </div>
    </body>
</html>