<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
</head>
<body>

<div th:fragment="codeOfConduct_en">
    <p class="card-text">
        The Code of Conduct describes gunnarro as commitments and requirements regarding ethical business practices and
        personal conduct.
        <ul>
            <li>Company's values</li>
            <li>Confidential Information</li>
            <li>Business Relationships</li>
            <li>Compliance with Laws, Rules, and Regulations</li>
        </ul>
    </p>
</div>

<div th:fragment="codeOfConduct_no">
    <p class="card-text">
        Beskivelse av etiske retningslinjer for gunnarro as sine forpliktelser og krav angående etisk virksomhet praksis
        og personlig oppførsel.
        <ul>
            <li>Selskapets verdier
                <ul>
                    <li>Ansatte har en selvstendig plikt til å varsle leder om inhabilite ved innleie til oppdrag</li>
                </ul>
            </li>
            <li>Konfidensiell informasjon</li>
                <ul>
                    <li>Må ikke må omtales eller fortelles videre uten samtykke fra rettighetshaver</li>
                </ul>
            <li>Forretningsforhold
                <ul>
                    <li>Holde avtaler og oppfylle forpliktelser</li>
                </ul>
            </li>
            <li>Overholdelse av lover, regler og forskrifter</li>
        </ul>
    </p>
</div>

<div th:fragment="availability_no">
</div>

<div th:fragment="availability_no">
</div>

</body>
</html>