<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<th:block th:fragment="log-card-list">
    <div th:each="log, iter : ${page.content}"
         th:if="${(log.level == logType or logType == '*') and iter.count < limit}">
        <div class="card mb-2" id="panel-child">
            <div class="card-header">
                <h5 class="card-title"
                    th:with="logDate=${#dates.format(log.createdDate, &apos;EEEE dd.MM.yy&apos;)}, logTime=${#dates.format(log.createdDate, &apos;HH:mm&apos;)}">
                    <th:block th:switch="${#dates.dayOfWeekName(log.createdDate)}">
                        <span class="badge badge-dark" th:case="&apos;Mandag&apos;"
                              th:text="${logDate} + &apos; &apos; + ${logTime}"></span>
                        <span class="badge badge-primary" th:case="&apos;Tirsdag&apos;"
                              th:text="${logDate} + &apos; &apos; + ${logTime}"></span>
                        <span class="badge badge-success" th:case="&apos;Onsdag&apos;"
                              th:text="${logDate} + &apos; &apos; + ${logTime}"></span>
                        <span class="badge badge-info" th:case="&apos;Torsdag&apos;"
                              th:text="${logDate} + &apos; &apos; + ${logTime}"></span>
                        <span class="badge badge-warning" th:case="&apos;Fredag&apos;"
                              th:text="${logDate} + &apos; &apos; + ${logTime}"></span>
                        <span class="badge badge-white" th:case="&apos;L&#xF8;rdag&apos;"
                              th:text="${logDate} + &apos; &apos; + ${logTime}"></span>
                        <span class="badge badge-purple" th:case="&apos;S&#xF8;ndag&apos;"
                              th:text="${logDate} + &apos; &apos; + ${logTime}"></span>
                        <span class="badge badge-dark" th:case="&apos;Monday&apos;"
                              th:text="${logDate} + &apos; &apos; + ${logTime}"></span>
                        <span class="badge badge-primary" th:case="&apos;Tuesday&apos;"
                              th:text="${logDate} + &apos; &apos; + ${logTime}"></span>
                        <span class="badge badge-success" th:case="&apos;Wednesday&apos;"
                              th:text="${logDate} + &apos; &apos; + ${logTime}"></span>
                        <span class="badge badge-info" th:case="&apos;Thursday&apos;"
                              th:text="${logDate} + &apos; &apos; + ${logTime}"></span>
                        <span class="badge badge-warning" th:case="&apos;Friday&apos;"
                              th:text="${logDate} + &apos; &apos; + ${logTime}"></span>
                        <span class="badge badge-white" th:case="&apos;Saturday&apos;"
                              th:text="${logDate} + &apos; &apos; + ${logTime}"></span>
                        <span class="badge badge-purple" th:case="&apos;Sunday&apos;"
                              th:text="${logDate} + &apos; &apos; + ${logTime}"></span>
                        <span class="badge badge-info" th:case="*"
                              th:text="${logDate} + &apos; &apos; + ${logTime}"></span>
                    </th:block>
                    <th:block th:switch="${log.level}">
                        <span class="badge badge-info" th:case="&apos;INFO&apos;" th:text="${log.level}"></span>
                        <span class="badge badge-success" th:case="&apos;ACTIVITY&apos;" th:text="${log.level}"></span>
                        <span class="badge badge-warning" th:case="&apos;REPORT&apos;" th:text="${log.level}"></span>
                        <span class="badge badge-danger" th:case="&apos;CONFLICT&apos;" th:text="${log.level}"></span>
                        <span class="badge badge-dark" th:case="&apos;GAMING&apos;" th:text="${log.level}"></span>
                        <span class="badge badge-primary" th:case="&apos;MEETING&apos;" th:text="${log.level}"></span>
                        <span class="badge badge-info" th:case="*" th:text="${log.level}"></span>
                    </th:block>
                    <span>
								<a class="accordion-toggle" data-parent="#accordion" data-toggle="collapse"
                                   th:href="@{&apos;#collapse_&apos; + ${iter.index}}" th:text="${log.title}"></a>
							</span>
                </h5>
            </div>
            <!-- panel header -->
            <div class="panel-collapse collapse show" th:id="&apos;#collapse_&apos; + ${iter.index}">
                <div class="card-body" th:utext="${log.contentHtml}"></div>
                <div class="card-footer clearfix card-footer-sm">
                    <div class="float-left">
                        <small><span th:text="#{lbl.created_by} + &apos; &apos; + ${log.createdByUser}"></span></small>
                    </div>
                    <div class="float-right">
                        <a class="btn btn-secondary btn-sm" th:href="@{/diet/log/event/view/} + ${log.id}"
                           th:if="${log.numberOfComments} == 0"><small th:text="#{eventlog.btn.add_comment}"></small></a>
                        <a class="btn btn-secondary btn-sm" th:href="@{/diet/log/event/view/} + ${log.id}"
                           th:if="${log.numberOfComments} &gt; 0"><small
                                th:text="#{eventlog.btn.view_comments} + &apos; (&apos; + ${log.numberOfComments} + &apos;)&apos;"></small></a>
                        <a class="btn btn-secondary btn-sm" th:href="@{/diet/log/event/view/} + ${log.id}"
                           th:if="${log.resources} != null"><i class="oi oi-image"></i></a>

                        <span th:if="${#authentication?.name == log.createdByUser}">
									<a class="btn btn-secondary btn-sm"
                                       th:href="@{/diet/log/event/edit/} + ${log.id}"><i class="oi oi-pencil"></i></a>
									<a class="btn btn-secondary btn-sm"
                                       th:href="@{/diet/log/event/delete/} + ${log.id}"><i class="oi oi-trash"></i></a>
								</span>
                        <span th:if="${#authentication?.name != log.createdByUser}">
									<a class="btn btn-secondary btn-sm disabled"
                                       th:href="@{/diet/log/event/edit/} + ${log.id}"><i class="oi oi-pencil"></i></a>
									<a class="btn btn-secondary btn-sm disabled"
                                       th:href="@{/diet/log/event/delete/} + ${log.id}"><i class="oi oi-trash"></i> </a>
								</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>
</body>

</html>