<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head-include :: head-include"></head>

<body>
<div th:replace="fragments/header-topmenu :: header-topmenu"></div>
<div class="container-fluid">
    <div class="bg-light mt-2 mb-2">
        <div class="clearfix ml-2 mr-2">
            <h3 class="float-sm-left align-baseline" th:text="#{eventlog.title}"></h3>
            <a class="btn btn-primary btn-sm float-sm-right ml-1 align-baseline" role="button"
               th:href="@{/diet/log/event/new}" th:text="#{eventlog.btn.new_log}"></a>
            <a class="btn btn-primary btn-sm float-sm-right" role="button"
               th:href="@{/diet/log/events/txt}" th:text="#{eventlog.btn.view_plain}"></a>
        </div>
    </div>

    <div class="mb-2 ml-2 mr-2">
        <label class="sr-only" for="txtSearchPage" th:text="#{eventlog.lbl.filter_log}"></label>
        <input class="form-control" id="txtSearchPage" th:placeholder="#{eventlog.lbl.filter_log}" type="text">
    </div>

    <div class="float-right mb-2">
        <table class="boarderless">
            <tr>
                <td style="text-align: right;"><span th:text="#{lbl.period}"></span>: <span
                        th:text="${#dates.format(logsFromDate, &apos;dd-MM-yyyy&apos;)}"></span>
                    - <span th:text="${#dates.format(logsToDate, &apos;dd-MM-yyyy&apos;)}"></span></td>
            </tr>
            <tr>
                <td style="text-align: right;">Log <span class="badge badge-pill badge-info"
                                                         th:text="${page.size * (page.number-1) + 1}"></span> to <span
                        class="badge badge-pill badge-info"
                        th:text="${page.lastPage ? page.totalElements : page.size * (page.number-1) + page.size}"></span>
                    of <span
                            class="badge badge-pill badge-info" th:text="${page.totalElements}"></span> logs
                </td>
            </tr>
        </table>
    </div>
    <div class="clearfix"></div>
</div>
<!-- End page header -->
<!-- Tab navigation -->
<ul class="nav nav-tabs">
    <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#latestlogs"
                            th:text="#{logview.tab.latestlogs}"></a></li>
    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#mettings" th:text="#{logview.tab.meetings}"></a>
    </li>
    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#alllogs" th:text="#{logview.tab.alllogs}"></a>
    </li>
    <!--
    <li class="nav-item"><a class="nav-link active" data-toggle="tab_ajax" href="" data-target="latestlogs">Latest logs</a></li>
    <li class="nav-item"><a class="nav-link" data-toggle="tab_ajax" href="" data-target="mettings">Meetings</a></li>
    <li class="nav-item"><a class="nav-link" data-toggle="tab_ajax" href="" data-target="alllogs">All logs</a></li>
    -->
</ul>

<p></p>
<!-- Tab content -->
<div class="tab-content">
    <div class="tab-pane active" id="latestlogs">
        <div class="list panel-group ml-2 mr-2" id="accordion">
            <div th:replace="fragments/log-card-list :: log-card-list(logType='*', limit=25)"></div>
        </div>
    </div>
    <div class="tab-pane fade" id="mettings">
        <div class="list panel-group ml-2 mr-2" id="accordion">
            <div th:replace="fragments/log-card-list :: log-card-list(logType='MEETING', limit=25)"></div>
        </div>
    </div>
    <div class="tab-pane fade" id="alllogs">
        <div class="list panel-group ml-2 mr-2" id="accordion">
            <div th:replace="fragments/log-card-list :: log-card-list(logType='*', limit=100)"></div>
        </div>
    </div>
</div> <!-- end tab content -->
<!-- end panel group -->
<div class="col-md-7">
    <!-- Pagination Bar -->
    <div th:fragment="paginationbar">
        <div class="text-center">
            <ul class="pagination justify-content-center">
                <li class="page-item" th:class="${page.firstPage} ? &apos;disabled&apos;:&apos;&apos;">
                    <span th:if="${page.firstPage}">First</span>
                    <a class="page-link" th:href="@{${page.url}(page=0,size=${page.size})}"
                       th:if="${not page.firstPage}">First</a>
                </li>
                <li class="page-item" th:class="${page.hasPreviousPage} ? &apos;&apos; : &apos;disabled&apos;">
                    <span aria-hidden="true" th:if="${not page.hasPreviousPage}">&#xAB;</span>
                    <a class="page-link" th:href="@{${page.url}(page=${page.number-2},size=${page.size})}"
                       th:if="${page.hasPreviousPage}" title="Go to previous page">&#xAB;</a>
                </li>
                <li class="page-item" th:class="${item.current}? &apos;active&apos; : &apos;&apos;"
                    th:each="item : ${page.items}">
                    <span th:if="${item.current}" th:text="${item.number}">1</span>
                    <a class="page-link" th:href="@{${page.url}(page=${item.number-1},size=${page.size})}"
                       th:if="${not item.current}"><span th:text="${item.number}">1</span></a>
                </li>
                <li class="page-item" th:class="${page.hasNextPage} ? &apos;&apos; : &apos;disabled&apos;">
                    <span th:if="${not page.hasNextPage}">&#xBB;</span>
                    <a class="page-link" th:href="@{${page.url}(page=${page.number},size=${page.size})}"
                       th:if="${page.hasNextPage}" title="Go to next page">&#xBB;</a>
                </li>
                <li class="page-item" th:class="${page.lastPage} ? &apos;disabled&apos; : &apos;&apos;">
                    <span th:if="${page.lastPage}">Last</span>
                    <a class="page-link"
                       th:href="@{${page.url}(page=${page.totalPages - 1},size=${page.size})}"
                       th:if="${not page.lastPage}">Last</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- end container -->
<div th:replace="fragments/footer :: footer"></div>
<!-- Put java script at end of document -->
<script type="text/javascript">

</script>
</body>

</html>