<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header-include">
</head>

<body class="bg">
<div th:replace="fragments/header :: header"></div>

<div class="container">
    <div class="m-3 card">
        <h3 class="card-header">About</h3>
        <div class="card-body">
            <p class="card-text">This is only a demo application for gunnarro:as. Which is based on following technologies.</p>
            <div>
                <h5 class="card-title">Open Source projects</h5>
                <ul>
                    <li><a href="https://spring.io/projects/spring-boot">Spring Boot</a></li>
                    <li><a href="http://www.thymeleaf.org/">Thymeleaf</a></li>
                    <li><a href="https://www.mysql.com/">mysql</a></li>
                    <li><a href="https://useiconic.com/open">OpenIconic</a>
                </ul>
                <h5 class="card-title">Platform</h5>
                <ul>
                    <li><a href="https://azure.microsoft.com/en-us/">Azure</a></li>
                    <li><a href="https://cloud.google.com/sql/">Cloud sql</a></li>
                </ul>
                <h5 class="card-title">Source</h5>
                <ul>
                    <li><a href="https://github.com/gunnarro/gunnarro-web">Github</a></li>
                    <li><a href="https://hub.docker.com/r/gunnarro/dietmanager/">Docker hub</a></li>
                </ul>
                <h5 class="card-title">Build and deploy</h5>
                <ul>
                    <li><a href="https://travis-ci.org/gunnarro">Travis</a></li>
                    <li><a href="https://github.com/gunnarro/gunnarro-web/actions">Github Actions</a></li>
                    <li><a href="https://maven.apache.org/">Maven</a></li>
                    <li><a href="https://github.com/GoogleContainerTools/jib">Jib</a></li>
                </ul>
                <h5 class="card-title">QA</h5>
                <ul>
                    <li><a href="https://sonarcloud.io/dashboard?id=com.gunnarro.web%3Agunnarro-web">SonarQube</a></li>
                </ul>
                <h5 class="card-title">Resources</h5>
                <ul>
                    <li><a href="https://sivalabs.in/2018/01/ci-cd-springboot-applications-using-travis-ci/">Travis Spring Boot Continuous Integration</a></li>
                    <li><a href="http://rkh.github.io/travis-encrypt/public/index.html">Travis Encrypt Online</a></li>
                    <li><a href="https://trianglify.io/">trianglify - generate background image</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>