<!DOCTYPE html>
<html lang="en">
<head>
  <title>Sommer 2021</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>

<div class="container">

  <div class="card">
    <div class="card-body">
      <h2 class="card-title">Sommerferie 2021</h2>
      <p class="card-text">
        Planen er å oppleve deler av Nord-Norge ved blant annet å kjøre <a href="https://www.kystriksveien.no/">Kystriksveien</a> (ca 650 km) fra Steinkjær til Bodø (langs Namdalskysten og helgelandskysten, 5 til 7 dager)
        Har hentet inspirasjon <a href="https://www.kystriksveien.no/planlegg-reisen/turforslag/">kystriksveien reiseforslag</a>

        Se hele reiseruten i google maps, første etappe <a href="https://goo.gl/maps/USt46oy9y56agqnd8">Oslo - Trondheim</a>, og så fra <a href="">Trondheim - Bodø</a>
      </p>
      <h3 class="card-subtitle mb-2 text-muted">Reiserute Oslo - Bodø</h3>
      <div>
      <table class="table w-auto">
        <thead class="table-light">
        <th>#</th>
        <th scope="col">Dato</th>
        <th scope="col">Avstand / Tid</th>
        <th scope="col">Sted</th>
        <th scope="col">Aktiviteter</th>
        <th scope="col">Overnatting</th>
        <th scope="col">Info</th>
        </thead>
        <tbody>
        <tr>
          <td><font style="color: red">&#120;</font></td>
          <td>søn 25.07.21</td>
          <td>180 km / 2t 10m</td>
          <td>Rena</td>
          <td>
            <li><a href="https://www.fallskjerm.no/nb/">Oslo SkyDive</a> kl. 1200</li>
          </td>
          <td></td>
          <td>Skydive ringt og kansellerte hoppet grunnet feil på fly</td>
        </tr>
        <tr>
          <td><font style="color: green">&#10004;</font></td>
          <td>søn 25.07.21</td>
          <td>200 km / 2t 50m</td>
          <td>Rondane Fjellstue</td>
          <td>
          </td>
          <td>Rondane Fjellstue</td>
          <td></td>
        </tr>
        <tr>
          <td><font style="color: green">&#10004;</font></td>
          <td>man 26.07.21</td>
          <td>25 km / 30 min</td>
          <td>Heidal</td>
          <td>
            <li><a href="https://www.sjoarafting.no/">Sjoa Rafting</a> kl. 10, tur på 5 timer med varm lunsj</li>
          </td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td><font style="color: green">&#10004;</font></td>
          <td>man 26.07.21</td>
          <td>60 km / 49 min</td>
          <td>Dombås</td>
          <td>sykkeltur i nasjonalparken</td>
          <td>Dombås Hotel</td>
          <td></td>
        </tr>
        <tr>
          <td><font style="color: green">&#10004;</font></td>
          <td>tirs 27.07.21</td>
          <td>200 km / 2t 50 min</td>
          <td>Trondheim</td>
          <td><li>Nidarosdomen</li>
          </td>
          <td>Radisson Blu Royal Garden Hotel</td>
          <td></td>
        </tr>
        <tr>
          <td><font style="color: green">&#10004;</font></td>
          <td>ons 28.07.21</td>
          <td>110 km / 1t 38 min</td>
          <td>Jægtvolden</td>
          <td>
            <li>Bade, Fotballgolf, kirke fra 1100 tallet (middeladeren)</li>
          </td>
          <td>Jægtvolden fjordhotell, Jektvollvegen 89, 7670 Inderøy</td>
          <td></td>
        </tr>
        <tr>
          <td><font style="color: green">&#10004;</font></td>
          <td>tor 29.07.21</td>
          <td>100 km / 1t 30m</td>
          <td>Namsos</td>
          <td>
            <li><a href="https://sagbruksmuseet.no/">Sagbrukmuseet</a></li>
            <li><a href="https://namsos.kulturhus.no/nyheter/troenderrock-museet/">Trønderrock museet</a></li>
            <li>Ramnholet på Otterøya, hule ca 1.3 km tur, for langt unna</li>
          </td>
          <td></td>
          <td>Kjør FV 769 til hofles, må ta ferge, Lund - Hofles - Geishavn, samme ferge som kjører mellom disse stedene</td>
        </tr>
        <tr>
          <td><font style="color: green">&#10004;</font></td>
          <td>tor 29.07.21</td>
          <td>70 km / 1t 30m</td>
          <td>Setran</td>
          <td>
            <li>Fiske</li>
          </td>
          <td><a href="https://www.setran.no/">Setran Gård</a></td>
          <td></td>
        </tr>
        <tr>
          <td><font style="color: red">&#120;</font></td>
          <td>lør 31.07.21</td>
          <td>38 km / 1t</td>
          <td>Rørvik</td>
          <td>
          </td>
          <td></td>
          <td>FV 776 og FV 770, må ta ferge</td>
        </tr>
        <tr>
          <td><font style="color: red">&#120;</font></td>
          <td>lør 31.07.21</td>
          <td>80 km / 1t 45m</td>
          <td>Leka</td>
          <td>
            <li><a hrep="https://www.visitleka.no/poi/solsemhula-pa-leka/">Leka - Solsemhula</a></li>
          </td>
          <td></td>
          <td>Må ta ferge</td>
        </tr>
        <tr>
          <td><font style="color: green">&#10004;</font></td>
          <td>lør 31.07.21</td>
          <td>105 km / 2t 40m</td>
          <td>Brønnøysund</td>
          <td>
            <li>Torghatten - fjelltur ca 40 min</li>
            <li>De syv søstre, lang eller kort</li>
            <li>Krigsminne, tyske kanonstillinger fra 2. verdenskrig</li>
            <li>Gardsøy Vega Verdensarvsenter - ferge eller hurtigbåt</li>
            <li><a href="https://www.havbrukssenter.no/guidede-turer">Guidet tur -oppdrettesanlegget</a>, Alle dager klokken 11:00 og 13:30</li>
          </td>
            <td><a href="https://www.havbrukssenter.no/">Norsk havbrukssenter, Brønnøy</a></td>
            <td>Brønnøysund til Brønnøy er 4.5 km</td>
        </tr>
        <tr>
          <td><font style="color: red">&#120;</font></td>
          <td>man 02.08.21</td>
          <td>118 km / 3t 40m</td>
          <td>Dønna</td>
          <td></td>
          <td><a href="https://www.donnes-gaard.no/">Dønnes Gård</a></td>
          <td>FV 17, Må ta ferge, dropper denne, blir for mye kjøring og ferger</td>
        </tr>
        <tr>
          <td>&#10004;</td>
          <td>man 02.08.21</td>
          <td>92 km / 2t 40m</td>
          <td>Sandnessjøen</td>
          <td></td>
          <td></td>
          <td>Må ta ferge, sandnessjøen - støtt, 253 km / 6t 25m</td>
        </tr>
        <tr>
          <td>&#10004;</td>
          <td>tir 03.07.21</td>
          <td>122 km / 3t 55m</td>
          <td><a href="https://stott.no/">Støtt</a></td>
          <td></td>
          <td><a href="https://stott.no/overnatting/">Støtt Rorbu</a></td>
          <td>Støtt er ett utgangspunkt for Helgeland, Salten eller Lofoten</td>
        </tr>
        <tr>
          <td>&#10004;</td>
          <td>tor 05.08.21</td>
          <td>135 km / 2t 44m</td>
          <td>Bodø</td>
          <td>
              <li><a href="https://exploresalten.no/hjem/rib-safari-saltstraumen">Ribb i Saltstrømmen</a> (kl 1000 eller 1600, ca 2 timer), <a href="https://arcticrib.no/rib-opplevelser">Ribb opplevelser</a></li>
              <li><a href="https://nordlandturselskap.no/opplevelser/vikgrotta/">vikgrotta</a> ligger i Rognan 85 km fra Bodø</li>
          </td>
          <td>Scandic Havet Hotel</td>
          <td></td>
        </tr>
        <tr>
          <td>&#10004;</td>
          <td>lør 07.08.21</td>
          <td>5 km / 30m</td>
          <td>Bodø Flyplass</td>
          <td></td>
          <td></td>
          <td>E og A reiser hjem, fly fra Bodø kl 12:45</td>
        </tr>
        </tbody>
        <tfoot></tfoot>
      </table>
      </div>

      <h3 class="card-subtitle mb-2 text-muted">Steder som bør besøkes</h3>
      <div>
        <li><a href="http://www.gronligrotta.no/">Grønligrotta</a> guidet tur ca 50 min, 30 min fra Mo i Rana, blir for langt unna vår reiserute</li>
        <li>Bretur på <a href="Svartisen">Svartisen</a> ca 5 timer, 40 min nord for Mo I Rana, får det ikke til å passe inn i vår reiserute</li>
        <li><a href="https://www.visitvega.no/">Vega</a> får det ikke til å passe inn i vår reiserute, blir for mye kjøring og ferger</li>
      </div>

      <h3 class="card-subtitle mb-2 text-muted">Kart</h3>
      <div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m52!1m12!1m3!1d1940290.979387273!2d8.073645141525821!3d61.64633361073867!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m37!3e0!4m5!1s0x46416e61f267f039%3A0x7e92605fd3231e9a!2sOslo!3m2!1d59.913868799999996!2d10.7522454!4m5!1s0x466a165240f68731%3A0xd5f7ee11bb281ed!2sRena%20flyplass%2C%20Rena!3m2!1d61.186076799999995!2d11.372504099999999!4m5!1s0x466b2beb00634cd3%3A0x7eeda22899f18fd3!2sRondane%20Fjellstue%2C%20Ulvangsvegen%2C%20Mysus%C3%A6ter!3m2!1d61.8114579!2d9.6851691!4m5!1s0x46152aded69f4c3d%3A0xfb0efd8b87a72f3b!2sSjoa%20Rafting%20AS%2C%20Heidal!3m2!1d61.706784799999994!2d9.4367964!4m5!1s0x4614c6b59d3174ef%3A0xb73781b949486972!2zRG9tYsOlcw!3m2!1d62.0757681!2d9.1279644!4m5!1s0x466d319747037e53%3A0xbf7c8288f3cf3d4!2sTrondheim!3m2!1d63.4305149!2d10.3950528!5e0!3m2!1sno!2sno!4v1627033201054!5m2!1sno!2sno" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
      </div>

    </div>
  </div>
</div>
</body>
</html>