<!DOCTYPE html>
    <div class="card border-primary mb-3">
        <h5 class="card-header">Log Settings</h5>
        <div class="card-body">

            <div class="alert alert-danger alert-dismissible" id="error-alert" role="alert">
                <div id="error-alert-msg">
                    Failed changing log level! Check ip application is up and running!
                </div>
                <button aria-label="Close" class="btn-close" data-bs-dismiss="alert" type="button"></button>
            </div>

            <p class="card-text">From the table you can change the logging level of a FTV App at runtime. Simply select
                FTV App -> logger -> and select one of following options: TRACE, DEBUG, INFO, WARN, ERROR, OFF.</p>
            <p class="card-text">Note! You can only change log level for a FTV Apps individual logger’s and for the
                springframework root logger.</p>
            <div class="table-responsive">
                <table class="table table-sm">
                    <thead class="table-dark">
                    <th scope="col">FTV App</th>
                    <th scope="col">Logger</th>
                    <th scope="col">Log level</th>
                    </thead>
                    <tbody>
                    <tr>
                        <td>provision-service</td>
                        <td>
                            <select aria-label=".form-select-sm example" class="form-select form-select-sm"
                                    id="provision-service-selected-logger"
                                    onChange="updateLoggers(this, 'http://localhost:8081')">
                                <option value="1">com.gunnarro.web</option>
                                <option value="2">com.gunnarro.web.endpoint</option>
                                <option value="3">com.gunnarro.web.service</option>
                                <option value="4">com.gunnarro.web.repository</option>
                            </select>
                        </td>
                        <td>
                            <div aria-label="Basic radio toggle button group" class="btn-group btn-group-sm"
                                 role="group">

                                <input autocomplete="off" class="btn-check" id="btntrace" name="btnradio" type="radio">
                                <label class="btn btn-outline-primary" for="btntrace"
                                       onclick="changeLogLevel('provision-service-selected-logger', 'TRACE', 'http://localhost:8081')">TRACE</label>

                                <input autocomplete="off" class="btn-check" id="btndebug" name="btnradio" type="radio">
                                <label class="btn btn-outline-primary" for="btndebug"
                                       onclick="changeLogLevel('provision-service-selected-logger', 'DEBUG', 'http://localhost:8081')">DEBUG</label>

                                <input autocomplete="off" class="btn-check" id="btninfo" name="btnradio" type="radio">
                                <label class="btn btn-outline-primary" for="btninfo"
                                       onclick="changeLogLevel('provision-service-selected-logger', 'INFO', 'http://localhost:8081')">INFO</label>

                                <input autocomplete="off" class="btn-check" id="btnwarn" name="btnradio" type="radio">
                                <label class="btn btn-outline-primary" for="btnwarn"
                                       onclick="changeLogLevel('provision-service-selected-logger', 'WARN', 'http://localhost:8081')">WARN</label>

                                <input autocomplete="off" class="btn-check" id="btnerror" name="btnradio" type="radio">
                                <label class="btn btn-outline-primary" for="btnerror"
                                       onclick="changeLogLevel('provision-service-selected-logger', 'ERROR', 'http://localhost:8081')">ERROR</label>

                                <input autocomplete="off" class="btn-check" id="btnfatal" name="btnradio" type="radio">
                                <label class="btn btn-outline-primary" for="btnfatal"
                                       onclick="changeLogLevel('provision-service-selected-logger', 'FATAL', 'http://localhost:8081')">FATAL</label>

                                <input autocomplete="off" class="btn-check" id="btnoff" name="btnradio" type="radio">
                                <label class="btn btn-outline-primary" for="btnoff"
                                       onclick="changeLogLevel('provision-service-selected-logger', 'OFF', 'http://localhost:8081')">OFF</label>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                    <tfoot>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>