<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header-css">
</head>

<body class="bg">
<div th:replace="fragments/header :: header"></div>

<div class="container">
    <div class="m-3 card">
        <h3 class="card-header">Release notes</h3>
        <div class="card-body">
            <div>
                <h5 class="card-title"><a href="https://github.com/gunnarro">2018-04-28 <span>v1.5.0</span></a></h5>
                <ul>
                    <li>Paging for event logs</li>
                    <li>File upload</li>
                    <li>Profile</li>
                </ul>

                <h5 class="card-title"><a href="https://github.com/gunnarro">2018-02-23 <span>v1.4.0</span></a></h5>
                <ul>
                    <li>Springframework 5.0</li>
                </ul>

                <h5 class="card-title"><a href="https://github.com/gunnarro">2015-01-01 <span>v1.0.0</span></a></h5>
                <ul>
                    <li>Initial release</li>
                </ul>
            </div>
        </div>
    </div>
    <div th:replace="fragments/footer :: footer"></div>
</div>
</body>
</html>