<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header-css">
</head>
    <style type="text/css">
.d-flex {
  display: flex !important;
}
.p-0 {
  padding: 0 !important;
}
.mb-3 {
  margin-bottom: .1rem !important;
}
.flex-shrink-0 {
  flex-shrink: 0 !important;
}
.flex-grow-1 {
  flex-grow: 1 !important;
}
.subheading {
  font-family: "Saira Extra Condensed", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  text-transform: camelcase;
  font-weight: 500;
  font-size: 1.5rem;
}
section.resume-section {
  display: flex;
  align-items: top;
  padding-left: 0.5 rem;
  padding-right: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
section.resume-section .resume-section-content {
  width: 100%;
}
.bg-primary {
    background-color: #3377ff !important;
}
.color-primary {
    color: #3377ff !important;
}
.text-primary {
    color: #3377ff !important;
}
.align-right {
    float:right;
}
.date-font {
    font-size: .75rem; font-family: SFMono-Regular !important;
}

.address-font {
    font-size: .70rem; font-family: monospace !important;
}

.dt-style {
    text-transform: lowercase;
 /*   font-size: .65rem !important; */
    font-weight: bold !important;
}
.dd-style {
    font-size: .65rem !important;
    font-family: monospace !important;
}

.text-created {
    text-transform: lowercase !important;
	font-size: .60rem !important;
	font-family: SFMono-Regular !important;
}

.text-list {
/*	font-size: .65rem !important; */
}

.text-brand {
/*	font-size: .65rem !important; */
    font-family: monospace !important;
}

.text-gradient {
	text-transform: lowercase !important;
/*	background: linear-gradient(to right, blue 0%, red 50%); */
/*	-webkit-background-clip: text; */
/*	-webkit-text-fill-color: transparent; */
/*	font-size: .65rem !important; */
    font-family: monospace !important;
}
</style>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<!-- left side-->
<!--
<div class="bg-primary fixed-top" id="leftSide">
    <div class="leftside-brand bt-1">
        <span class="d-block d-lg-none">Gunnar Rønneberg</span>
        <span class="d-none d-lg-block"><img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="../static/images/profile.jpg" alt="" /></span>
    </div>
    <div class="leftside-box bt-1">
        <dl class="dl-horizontal">
            <dt class="leftside-text"><span class="glyphicon glyphicon-earphone">Mobile</span></dt>
            <dd class="leftside-text"><span class="">+47 45 46 55 00</span></dd>
            <dt class="leftside-text"><span class="glyphicon glyphicon-envelope">Email</span></dt>
            <dd class="leftside-text"><span class="">gunnar_ronneberg@yahoo.no</span></dd>
        </dl>
    </div>
</div>
-->
<!-- Page Content-->
<div class="container-fluid p-1">
    <!-- About-->
    <section class="resume-section bg-primary" id="about">
        <div class="resume-section-content p-1">
            <div align="right">
                <label class="text-created">opprettet: 22.11.2020</label>
            </div>
            <div class="d-flex flex-column flex-md-row">
                <div align="center" class="flex-grow-1">
                    <h2 class="mb-1">Gunnar Rønneberg</h2>
                    <h5 class="mb-0"><span class="address-font">Stavangergata 35, 0467 Oslo | +47 45465500 | gunnar_ronneberg@yahoo.no | født: 11.04.66</span>
                    </h5>
                </div>
            </div>
        </div>
    </section>

    <!-- Skills-->
    <section class="resume-section" id="skills">
        <div class="resume-section-content">
            <h2 class="mb-3">Kompetanse</h2>
            <hr class="bg-primary"/>
            <ul class="mb-3 text-list">
                <li>3 års erfaring som arkitekt og utvikler i Telenor med å bygge opp ny microservice plattform for TV
                    tjenester. Plattformen betjener blant annet Telenor Mine sider med
                    hundretusenvis av brukere.
                    <ul>
                        <li>Laget applikasjonsmal for microservice, basert på <span class="text-brand">Spring</span>
                            boot rammeverket, ved hjelp av <span class="text-brand">Maven</span> archetype.
                        </li>
                        <li>Laget retningslinjer og best praksis for utvikling av <span class="text-brand">Spring</span>
                            boot baserte microservicer og REST tjenester.
                        </li>
                        <li>Installert monitorering av tjenester og platform ved hjelp av <span class="text-brand">Prometheus</span>,
                            <span class="text-brand">Alertmanager</span> og <span class="text-brand">Grafana</span>.
                            Hvor alarmer sendes til en <span class="text-brand">Slack</span> gruppe.
                        </li>
                        <li>Installert og konfigurert <span class="text-brand">RabbitMQ</span>, som blant annet brukes
                            til asynkron kommunikasjon mellom microservicene.
                        </li>
                        <li>Installert og konfiguret <span class="text-brand">Apache</span> som API gateway, hvor det
                            brukes 2-way-tls mot tjenestene. Laget java modul for å forenkle httpd konfigurering, samt
                            full CI/CD pipeline for deploy av httpd konfigurasjon.
                        </li>
                        <li>Implementert <span class="text-brand">Swagger</span> for API dokumentasjon.</li>
                        <li>Satt opp CD/CI pipeline i <span class="text-brand">Bamboo</span>, hvor <span
                                class="text-brand">Maven</span>, <span class="text-brand">GitLab</span> og <span
                                class="text-brand">Sonarqube</span> brukes som hjelpe verktøy. Hvor microservicene
                            deployes til <span class="text-brand">RedHat</span> servere som selvstendige applikasjoner.
                        </li>
                        <li>Opprettet system, applikasjon og tjeneste dokumentasjon på <span class="text-brand">Confluence</span>.
                            Hvor <span class="text-brand">Gliffy</span> er brukt til å tegne arkitektur og
                            sekvensdiagrammer.
                        </li>
                        <li>Tilrettelagt for å kjøre <span class="text-brand">Spring</span> boot applikasjonene i <span
                                class="text-brand">Docker</span> container ved bruk av <span class="text-brand">Google
                            jib</span>.
                        </li>
                    </ul>
                </li>
                <li>7 år erfaring som system arkitekt for Telenors mellomvare plattform for TV tjenester basert på<span
                        class="text-brand">Oracle Service Bus</span> og <span class="text-brand">Oracle Soa Suite</span>.
                </li>
                <li>Lang erfaring med bruk av <span class="text-brand">Splunk</span>, installert <span
                        class="text-brand">Splunk</span> forwardere og opprettet dashboard, alarmer og rapporter.
                </li>
                <li>Arbeidet med sikkerhet og integasjonstesting av REST og SOAP tjenester ved bruk av <span
                        class="text-brand">SoapUI</span>, <span class="text-brand">Junit</span> og sikkerhets script.
                </li>
                <li>Opplæring og guiding av både ansatte og konsulenter på Telenors TV plattform</li>
                <li>System arkitektur, applikasjons arkitektur og design har vært mine oppgaver, samt vedlikehld,
                    monitorering og drift av applikasjoner har vært mitt ansvar.
                </li>
                <li>Har stort sett jobbet Agilt, hvor test dreven utvikling har vært i fokus. Hvor jeg også har har hatt
                    en ledende rolle hva oppgaver og utvikling angår
                </li>
                <li>Både lang erfaring og god kjennskap med bruk av følgende teknologier:
                    <dl class="mb-3 row">
                        <dt class="col-sm-3 dt-style">Operativsystem</dt>
                        <dd class="col-sm-8 text-gradient">centos, redhat, ubuntu, windows</dd>
                        <dt class="col-sm-3 dt-style">Programmeringsspråk</dt>
                        <dd class="col-sm-8 text-gradient">java, bash script, android sdk, python, javascript</dd>
                        <dt class="col-sm-3 dt-style">Rammeverk</dt>
                        <dd class="col-sm-8 text-gradient">spring framework, junit, mockito, log4j2, logback, thymeleaf,
                            bootstrap, hibernate, html, css, jsf, jsp
                        </dd>
                        <dt class="col-sm-3 dt-style">Utviklingsverktøy</dt>
                        <dd class="col-sm-8 text-gradient">eclipse, intellij, maven, git, soapui, sqlDeveloper, swagger,
                            android studio
                        </dd>
                        <dt class="col-sm-3 dt-style">Sikkerhet</dt>
                        <dd class="col-sm-8 text-gradient">2-veis-tls, sso, 2-faktor-authentisering</dd>
                        <dt class="col-sm-3 dt-style">Database</dt>
                        <dd class="col-sm-8 text-gradient">oracle, mysql, mariadb, hsql, h2</dd>
                        <dt class="col-sm-3 dt-style">Støttesystemer</dt>
                        <dd class="col-sm-8 text-gradient">bamboo, gitlab, jira, confluence, splunk, nexus, prometheus,
                            sonarqube, grafana, snyk
                        </dd>
                        <dt class="col-sm-3 dt-style">Meldingskø/bus</dt>
                        <dd class="col-sm-8 text-gradient">oracle service bus, jms, rabbitmq, activemq</dd>
                        <dt class="col-sm-3 dt-style">Applikasjons container</dt>
                        <dd class="col-sm-8 text-gradient">tomcat, jetty, docker</dd>
                        <dt class="col-sm-3 dt-style">Applikasjons servere</dt>
                        <dd class="col-sm-8 text-gradient">weblogic, apache, tomcat, jetty</dd>
                        <dt class="col-sm-3 dt-style">Skyløsninger</dt>
                        <dd class="col-sm-8 text-gradient">openshift, google cloud</dd>
                    </dl>
                </li>
            </ul>
        </div>
    </section>

    <!-- Experience-->
    <section class="resume-section" id="experience">
        <div class="resume-section-content">
            <h2 class="mb-3">Arbeidserfaring</h2>
            <hr class="bg-primary"/>
            <div class="d-flex flex-column flex-md-row justify-content-between">
                <div class="flex-grow-1">
                    <div class="flex-grow-1">
                        <div class="mb-0"><h3 class="mb-1">System Arkitekt</h3> <span
                                class="color-primary align-right date-font">August 2014 - nå</span>
                        </div>
                    </div>
                    <h4 class="mb-3">Telenor AS</h4>
                    <p>Arkitekt for Telenors microservice plattform for TV tjenester. Som i all hovedsak er basert på
                        åpen kildekode. Det brukes både synkrone og asynkrone REST tjenester over en meldingsbasert
                        arkitektur. Tjenestene eksponeres via en API Gateway over 2-way-TLS. Prometheus og Grafana
                        brukes til monitorering.
                        Har også arkitektur ansvaret for TV integrasjonsplattformen, som er basert på Oracle Service
                        Bus, Oracle SOA Suite og Oracle Database. Min oppgave er å forvalte og videreutvikle hele
                        livsløpet til integrasjons - og microservice plattformen for Telenors TV tjenester. Hvor
                        systemarkitektur og applikasjonsdrift
                        også inngår i mine arbeidsoppgaver.</p>
                </div>
            </div>
            <div class="d-flex flex-column flex-md-row justify-content-between">
                <div class="flex-grow-1">
                    <div class="flex-grow-1">
                        <div class="mb-0"><h3 class="mb-1">Senior Systemtvikler</h3> <span
                                class="color-primary align-right date-font">Januar 2008 - August 2014</span></div>
                    </div>
                    <h3 class="mb-0"></h3>
                    <h4 class="mb-3">TeliaSonera Norge AS</h4>
                    <p>Utvikling av integrasjonslaget til TeliaSoneras web service baserte ordre grensesnitt. hvor det
                        ble brukt Scrum og Testdreven utviklingsmetodikk. Integrasjonslaget består i all hovedsak av
                        mange java applikasjoner bygd på Spring rammeverket og Oracle database. Applikasjons drift har
                        også vært en del av mine arbeidsoppgaver. På eget intiativ lagde jeg ett verktøy for å forenkle
                        søk i logg filer.</p>
                </div>
            </div>
            <div class="d-flex flex-column flex-md-row justify-content-between">
                <div class="flex-grow-1">
                    <div class="flex-grow-1">
                        <div class="mb-0"><h3 class="mb-1">Senior IT-konsulent</h3> <span
                                class="color-primary align-right date-font">Juni 2005 - Januar 2008</span></div>
                    </div>
                    <h4 class="mb-3">Software Innovation AS</h4>
                    <p>Utleid til Toll- og avgiftsdirektoratet for å skrive om ett saksbehandlersystem
                        til java tykk klient ved hjelp av Genova og UML.</p>
                    <p>Engasjert av Tomra for å lage ett nytt web basert administrasjons grensesnitt for
                        panteautomater. Hvor det ble brukt java, JSF, tomcat og Oracle database.</p>
                </div>
            </div>
            <div class="d-flex flex-column flex-md-row justify-content-between">
                <div class="flex-grow-1">
                    <div class="flex-grow-1">
                        <div class="mb-0"><h3 class="mb-1">Senior Utvikler</h3> <span
                                class="color-primary align-right date-font">August 2002 - Juni 2005</span>
                        </div>
                    </div>
                    <h4 class="mb-3">Telenor AS</h4>
                    <p>Utvikling og forvaltning av en IP-basert kontaktsenterløsning. Java swing klient som ble
                        installert på local pc. Har også hatt en del kundekontakt
                        for å hjelpe til med tekniske utfordringer ute hos kunde.</p>
                </div>
            </div>
            <div class="d-flex flex-column flex-md-row justify-content-between">
                <div class="flex-grow-1">
                    <div class="flex-grow-1">
                        <div class="mb-0"><h3 class="mb-1">IT-konsulent</h3> <span
                                class="color-primary align-right date-font">Juni 2000 - August 2002</span>
                        </div>
                    </div>
                    <h4 class="mb-3">Accenture ANS</h4>
                    <p>Utvikling av Postbanken sin nettbank løsning. Programmeringsspråk java. Lagde ett test verktøy
                        for å sjekke om web service tjenester var oppe.</p>
                </div>
            </div>
            <div class="d-flex flex-column flex-md-row justify-content-between">
                <div class="flex-grow-1">
                    <div class="flex-grow-1">
                        <div class="mb-0"><h3 class="mb-1">Forsker</h3> <span
                                class="color-primary align-right date-font">Mai 1999 - Juni 2000</span>
                        </div>
                    </div>
                    <h4 class="mb-0">Universitetet i Oslo</h4>
                    <h5 class="mb-3">Institutt for informatikk</h5>
                    <p>Utviklet en SCI nettverk simulator i Opnet, som ble godkjent og lagt inn i standard biblioteket
                        til
                        Opnet.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Education-->
    <section class="resume-section" id="education">
        <div class="resume-section-content">
            <h2 class="mb-3">Utdanning</h2>
            <hr class="bg-primary"/>
            <div class="d-flex flex-column flex-md-row justify-content-between">
                <div class="flex-grow-1">
                    <div class="flex-grow-1">
                        <div class="mb-0"><h3 class="mb-1">Cand. Scient</h3> <span
                                class="color-primary align-right date-font">August 1995 - Mai 1999</span>
                        </div>
                    </div>
                    <h4 class="mb-0">Universitetet i Oslo</h4>
                    <h5 class="mb-3">Institutt for informatikk</h5>
                    <p>Hovedfag gikk ut på å utbedre flyt kontroll protokollen i ett SCI-nettverk. Utgitt to
                        publikasjoner basert på resultatet.</p>
                </div>
            </div>
            <div class="d-flex flex-column flex-md-row justify-content-between">
                <div class="flex-grow-1">
                    <div class="flex-grow-1">
                        <div class="mb-0"><h3 class="mb-1">Ingeniør</h3> <span
                                class="color-primary align-right date-font">August 1993 - Juni 1995</span>
                        </div>
                    </div>
                    <h4 class="mb-0">Høgskolen i Sør-Trøndelag</h4>
                    <h5 class="mb-3">Elektro</h5>
                    <p>Egendefinert hovedfagsoppgave som var teoretisk modell for en portabel
                        hastighetsmåler basert på diode-laser teknologi og doppler effekt. Fant ut at det ikke var
                        realiserbart med ønsket nøyaktighet</p>
                </div>
            </div>
            <div class="d-flex flex-column flex-md-row justify-content-between">
                <div class="flex-grow-1">
                    <div class="flex-grow-1">
                        <div class="mb-0"><h3 class="mb-1">Fagskole Tekniker</h3> <span
                                class="color-primary align-right date-font">August 1991 - Juni 1993</span></div>
                    </div>
                    <h4 class="mb-0">Trondheim Tekniske Fagskole</h4>
                    <h5 class="mb-3">Elektronikk</h5>
                    <p>Startet på videre utdanning etter endt fagprøve som Telemontør i Televerket.</p>
                </div>
            </div>
        </div>
    </section>
</div>
</body>
</html>
